
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Excel Raporları</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="form-group mt-2">
            <a href="/Report/StaticReport/" class="btn btn-outline-info">Statik Rapor</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Report/ContactReport/" class="btn btn-outline-info">Mesaj Raporları</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Report/AnnouncementReport/" class="btn btn-outline-info">Duyuru Raporları</a>
        </div>
    </li>
</ul>





